body{
	margin: 0%;
	font-family: 'Roboto Mono', monospace;
}

::selection {
	background-color: #353F48;
	 color: tomato;
  }

.header {
	border: 1px solid black;
	z-index: 2;
	display: grid;
	height: 500px;
	grid-template-columns: repeat(2, 1fr);
	background-color: rgba(255, 255, 0, 0.922);
}

p{
	text-align: center;
}

.container {
	height: 500px;
	background-color: rgb(1, 1, 120);
    z-index: 1;
    font-size:20px;
    font-weight:bold;
}

.word {
	display: flex;
	z-index: 1;
	margin-right: 100px;
	justify-content: flex-end;
	align-items: center;
}


.picture{
	position: relative;
	display: flex;
	z-index: 1;
	height: 500px;
	margin: 150px 150px;
	border-radius: 10px;
	justify-content: center;
}

.header .picture img{
	position: relative;
	z-index:1;
}



